<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 
  IMPORTANT:
  Note that changes made to this file are not automatically detected by the ASP.NET runtime
  It does detect changes to Web.config, so when you make a change in this file you need to touch Web.config (ie type a space in it andf save it)
  to make it reload settings
  -->

  <!--<add key="MSSQLConnectionString" value="Data Source=100.100.100.100;Database=SQL2008R2_981422_awd;uid=SQL2008R2_981422_awd_user;Pwd=m0j0us3r;" />-->
	<add key="MSSQLConnectionString" value="Data Source=ESDMSQL1;Database=mojoPortal_ESDMSandbox;uid=mojouser;Pwd=m0j0us3r;" />

  <add key="ImageGalleryUseMediaFolder" value="true" />
  <add key="GreyBoxCssIsLoadedFromSkin" value="true" />
  
  <!-- ***** SEARCH ***** -->
  <add key="ShowRebuildSearchIndexButtonToAdmins" value="true" />
  <add key="DisableSearchFeatureFilters" value="false" />
  <add key="SearchUseBackwardCompatibilityMode" value="false" />
  <add key="EnableSearchResultsHighlighting" value="true" />
  <add key="SearchIncludeModuleRoleFilters" value="true" />

  <add key="UseLegacyCryptoHelper" value="false" />
  

    <!-- *********************************************************************************** -->
    <!-- ****************************** Begin email settings ******************************* -->
    <!-- *********************************************************************************** -->

    <add key="DisableDotNetOpenMail" value="true" />
    <add key="SMTPServer" value="smtp.advancedwebsitedesign.org.uk" />
    <add key="SMTPRequiresAuthentication" value="true" />
    <add key="SMTPUseSsl" value="false" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPUser" value="*****" />
    <add key="SMTPPassword" value="*****" />
    <add key="SMTPTimeoutInMilliseconds" value="30000" />

    <!-- Leave this blank for ASCII encoding. Allowed values are utf-8, utf-32, and unicode -->
    <add key="SmtpPreferredEncoding" value=""/>

	
    
    <!-- *********************************************************************************** -->
    <!-- ***************************** End Email settings ********************************** -->
    <!-- *********************************************************************************** -->

    <!-- to allow extensionless URLs -->
    <add key="AllowChangingFriendlyUrlPattern" value="true" />


    <!-- Set these to false during design work -->
   
    <!-- To prevent startup scripts running. Change to false when upgrading mojo -->
    <add key="DisableSetup" value="true" />
    
    <!-- make sure admins put content files in same place as non-admins -->
    <add key="ForceAdminsToUseMediaFolder" value="true" />
    
    <!-- custom config file for CK Editor -->
    <!-- <add key="CKEditor:ConfigPath" value="~/ClientScript/ckeditor-esdmconfig.js" /> -->
	<add key="AddSystemContentTemplatesAboveSiteTemplates" value="false" />
	<add key="AddSystemContentTemplatesBelowSiteTemplates" value="true" />
    
    <!-- activate if the index is corrupted <add key="ShowRebuildSearchIndexButtonToAdmins" value="true" /> -->
	
    <!-- temporary fix related to this problem https://www.mojoportal.com/Forums/Thread.aspx?pageid=5&mid=34&ItemID=2&thread=9551 -->
    <add key="aspnet:MaxHttpCollectionKeys" value="1500"/>
	
    <add key="AllowForcingPreferredHostName" value="false" />

	<!-- *** USER PROFILE CUSTOM SETTINGS *** -->
	<add key="mojoProfileConfigFileName" value="esdmProfile.config" />
	<!-- *** END *** -->
	
	<!-- browsing for parent page - this setting -1 expands all branches -->
	<add key="ParentPageDialogExpansionDepth" value="2"/>
	<!-- Redirect manager page size - we have a lot! -->
	<add key="RedirectManagerPageSize" value="500"/>
	
	<!-- added KML to default list -->
    <add key="AllowedUploadFileExtensions" value=".gif|.jpg|.jpeg|.png|.flv|.swf|.wmv|.mp3|.mp4|.m4a|.m4v|.oga|.ogv|.webma|.webmv|.webm|.wav|.fla|.tif|.asf|.asx|.avi|.mov|.mpeg|.mpg|.zip|.pdf|.doc|.docx|.xls|.xlsx|.ppt|.pptx|.pps|.csv|.txt|.htm|.html|.kml" />
	<add key="AllowedLessPriveledgedUserUploadFileExtensions" value=".gif|.jpg|.jpeg|.png|.zip|.pdf"/>

	<!-- OFF FOR GW SERVER DR <add key="SSLIsAvailable" value="true" /> -->
	
	<add key="SSLIsAvailable" value="false" />
	<!-- to allow RSS feed on secured blogs, see https://www.mojoportal.com/using-the-blog-feed-in-feed-manager -->
	<add key="InternalFeedSecurityBypassKey" value="20ae54ae-f501-48eb-a1f9-c4b700a8bcf1" />
	
	<add key="DisableAutoCompleteOnLogin" value="true"/>
	
</appSettings>
